<project>
  <files>
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="C"/>
        <filter
          name="C++"/>
        <filter
          name="CUDA"/>
        <filter
          name="Objective-C"/>
        <filter
          name="Objective-C++"/>
      </watched>
      <dir
        name="EvolutionTrees">
        <dir
          name="352cd08b-c27c-4ebf-b09f-472d02a0bf4e">
          <dir
            name="ArtifactFiles">
            <dir
              name="Storage">
              <dir
                name="Files">
                <auto
                  name="3421a9cd-7a3b-45a8-97cb-ab4065243e33main.m"/>
                <auto
                  name="498c6257-3dec-4265-9e13-ca147feb769ePopulation.m"/>
                <auto
                  name="e7ecf981-38c7-44e2-8a3b-5b1b88160ed2Individual.m"/>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
      <auto
        name="Individual.m"/>
      <auto
        name="Population.m"/>
      <auto
        name="PopulationParams.m"/>
      <auto
        name="PopulationState.m"/>
      <auto
        name="TestPropertyClass.m"/>
      <auto
        name="TestPropertyClassDemo.m"/>
      <auto
        name="UIPropertyControlBaseClass.m"/>
      <auto
        name="main.m"/>
    </dir>
  </files>
</project>
